{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 160,
  "endOfLine": "auto",
  "singleAttributePerLine": false,
  "arrowParens": "avoid",
  "functionParameterPosition": "inline"
}
